.color-primary {
    color: tomato;
}

.bg-image {
    margin-top: -16px;
    background-image: url("../statics/imgs/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    
    height: 700px;
}
.welc-div {
    padding-top: 130px;
    backdrop-filter: blur(5px);
}

.image {
    border: black solid 0.5px;
    border-radius: 20px;
}

.large-text {
    
    font-size: 70px;
    color: #0076CF;
}
.sub-text {
    color: #2F4858;
}

.start-btn {
    height: 70px;
    width: 200px;
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 3px;
    border: 2px solid tomato;
}

.start-btn:hover {
    background-color: white;
    color: tomato;
    border-color: tomato;
}